html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html,
body {
	width: 100%;
	min-height: 100%;	
}
body {
	font-family: 'Rubik', sans-serif;
	/*font-family: 'Montserrat', sans-serif;*/
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
	width: 100%;
	margin: 0;
}

a {
	color: #c1471d;
	text-decoration: none;
}
a, button, .pointer, .close, input[type="submit"]{cursor: pointer}
a, button, label{
	-webkit-transition:  0.5s ease;
    -moz-transition:  0.5s ease;
    -o-transition: 0.5s ease;
    transition:  0.5s ease;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
h1, .h1 {
	margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
	padding-right: 50px;
}
h2, .h2 {
	margin-bottom: 18px;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}
h3, .h3, legend {
	margin-bottom: 18px;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
	padding-right: 50px;
}
h4, .h4 {
	margin-bottom: 18px;
    font-size: 16px;
    line-height: 28px;
    font-weight: bold;
	padding-right: 50px;
}
.h1 a, .h2 a, .h3 a{
	color: #2d2d2d;
}
a:hover {
	color: #cd613c;
	text-decoration: none;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
.fah{margin: 0 auto auto;}
.category,
.category-top,
.animate{
	-webkit-transition:  0.7s ease;
    -moz-transition:  0.7s ease;
    -o-transition: 0.7s ease;
    transition:  0.7s ease;
}
img{max-width: 100%}
*:active,
*:focus {
  outline: none !important;
}
:-webkit-autofill {
    color: #ffffff !important;
}
::placeholder{
	font-size: 12px;
	color: #818281;
}
*{
	font-family: 'Rubik', sans-serif;
	/*font-family: 'Montserrat', sans-serif;*/
}
.clear{
	border: none;
	background: none;
}
.to-line{
	display: flex;
}
.to-line > div:first-child{
	display: block;
	margin: auto 0;
	min-width: 100%;
}
.pull-left{float: left}
.pull-right{float: right}
.tooltip-inner{
	position: absolute;
}
a.btn{display: inline-block;}
.btn{
	padding: 15px 20px;
	border: none;
	border-radius: 4px;
	font-weight: 500;
}
.btn i{
	margin-right: 5px;
}
.btn.big{
	font-size: 15px;
	padding: 15px 35px;
}
@media (max-width: 1093px){
	.btn.big{
		font-size: 14px;
		padding: 15px 25px;
	}
}
.btn.w-border{
	border: 1px solid #fff;
}
.btn.btn-primary,
.btn.orang{
	background-color: #c1471d;
	color: #fff;
}
.btn.btn-primary{
	border: 1px solid #c1471d;
}
.btn.btn-primary:hover{
	border-color: #cd613c;	
}
.btn.btn-primary:hover,
.btn.orang:hover{
	background-color: #cd613c;	
}
.btn.btn-default,
.btn.border-orang{
	border: 1px solid #c1471d;
	color: #c1471d;
	background-color: #fff;
	font-weight: 500;
}
.btn.btn-default:hover,
.btn.border-orang:hover{
	color: #fff;
	background-color: #c1471d;
}
.grey-content{
	background-color: #f8f9fb;
	padding: 30px 0;
}
.content-line{
	padding: 30px 0;
	/*margin-bottom: 50px;*/
}
.hidden-text .text{
	max-height: 300px;
    overflow: hidden;
	position: relative;
}
.hidden-text.active .text{
	max-height: none;
	overflow: visible;
}
.hidden-text .text:after{
	content: '';
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
    height: 71px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%, rgba(252,252,252,1) 100%);
}
.hidden-text.active .text:after{
	display: none;
}
.hidden-text .btn{
	display: block;
	margin: 0 auto;
}
.alert{
	position: fixed;
    top: 127px;
    right: 0;
    z-index: 116;
    background-color: #fff;
    padding: 35px 21px 35px 40px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    -webkit-box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
    max-width: 98%;
}
.alert button{
	position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    font-size: 22px;
    color: #dcdcdc;
}
.alert.alert-danger{
	width: 400px;
	border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
	margin: 0 auto;
	right: 0;
	left: 0;
	top: 50%;
}
.alert.alert-danger button{
	right: 15px;
	top: 10px;
}
.scroll::-webkit-scrollbar{
  width: 5px;  
  height: 5px; 
}
.scroll::-webkit-scrollbar-track{
  background: transparent;
}
.scroll::-webkit-scrollbar-thumb{
  background: #dcdcdc;
  border-radius: 3.5px;
}
.rowall {
    display: flex;
    flex-flow: wrap;
}
.rowall .col-1{
    order: 1;
    min-width: 100%;
}
.rowall .col-2 {
    order: 2;
    min-width: 100%;
}
#column-left{
	margin-bottom: 50px;
}
.hidden-content{
	display: none;
}
.menu-box{
	padding: 25px;
	border: 1px solid #F2F2F2;
}
.fixed-search-box{
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background: rgba(0,0,0,0.8);
	opacity: 0;
}
.fixed-search-box .search-box{
	background-color: #fff;
    padding: 20px;
	position: relative;
	top: -100px;
}
.fixed-search-box.active{
	opacity: 1;
}
.fixed-search-box.active .search-box{
	top: 0;
}
.fixed-search-box .search-border{
	position: relative;
    z-index: 1;
	width: 100%;
	border-radius: 2px;
	padding-right: 40px;
}
.fixed-search-box .search-box input{
	padding: 13px 50px 13px 50px;    
    background: #fbfcfd; 
	border: 1px solid #f2f2f2;
	width: 100%;
}
.fixed-search-box .search-box button{
	position: absolute;
    border: none;
    background: none;
    font-size: 18px;
    top: 10px;
}
.fixed-search-box .search-box .search{
	color: #777e89;
	left: 10px;
}
.fixed-search-box .search-box .clear{
	right: 50px;
    font-size: 8px;
    background-color: #dcdcdc;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    color: #fff;
    text-align: center;
}
.fixed-search-box .search-box .clear i{
	position: relative;
	top: -2px;
}
.fixed-search-box .search-box .hide{
	right: -4px;
	color: #777e89;
}
p:first-child{
	margin-top: 0;
}
.text ol,
.text ul {
    margin: 0 0 20px 0;
    padding: 0;
}
.text ul li{
	position: relative;
    margin: 0 0 2px 0;
    padding: 0 0 0 1.42857143em;
    list-style: none;
}
.text ul li:before{
	content: '\0054';
    font-family: 'icons_2';
    color: #c1471d;
    font-size: 5px;
    position: absolute;
    left: 2px;
    top: 6px;
}
.text ol { counter-reset: item; }
.text ol li{
	position: relative;
    margin: 0 0 2px 0;
    padding: 0 0 0 1.42857143em;
    list-style: none;
}
.text ol li:before{
	position: absolute;
    left: 2px;
    top: 0px;
	color: #c1471d;
	content: counter(item) ". ";
    counter-increment: item;
}
.text p:last-child{
	margin-bottom: 0;
}
.modal.in{
	display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2040;
    background-color: rgba(0,0,0,0.3);
}
.modal-dialog{
	position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 0 30px 30px 30px;
    border-radius: 3px;
    width: 900px;
    max-width: 98%;
    margin: auto;
    overflow: hidden;
}
.modal-dialog .close{
	background: none;
    border: none;
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 20px;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
	width: 100%;
	max-width: 100%;	
}
.content-border .table-responsive{
	margin: -10px 0;
}
table{
	min-width: 100%;
}
table thead tr td{
	font-weight: 500;
}
table tbody tr:nth-child(even) td{
	background-color: #f8f9fb;
}
table tr td{
	padding: 10px;
}
table tr td.nowrap{
	white-space: nowrap;
}
table tfoot tr td:first-child{
	font-weight: 500;
}
table tr td a {
    color: #2d2d2d;
    border-bottom: 1px dashed;
}
table tr td a:hover{
	border-color: #fff;
}
table.table-bordered{
	border-spacing: 0;
    border-collapse: collapse;
}
table.table-bordered tr:not(:last-child) td{
	border-bottom: 1px solid #e8e8e8;
}
/*header*/
nav{
	border-bottom: 1px solid #e8e8e8;
}
nav a{
	font-size: 12px;
    color: #2d2d2d;
	display: inline-block;
	padding: 12px 0;
}
nav a:hover{
	text-decoration: underline;
}
nav i{
	color: #c1471d;
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
}
nav button{
	font-size: 12px;
    color: #2d2d2d;
    background: none;
    border: none;
	padding: 9px 10px;
}
nav button:hover{
	background: #f4f5f7;
}
nav .specials a{
	display: inline-block;
	margin-right: 15px;
	font-weight: 500;
	display: none;
}
nav .specials a img{
	vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -2px;
	display: none;
}
header {
    padding: 0px 0 5px 0; 
    position: sticky;
    top: 0;
    z-index: 206;
    background-color: #ffffff;
}
header .logo img{
	vertical-align: middle;
	max-height: 65px;
}
#search{
	padding-left: 25px;
}
#search .search-box{
	border-radius: 4px;
	background-color: #f0f0f0;
	position: relative;
	z-index: 210;
}
#search .search-box input{
	display: inline-block;
    border: none;
    background-color: transparent;
    padding: 10.5px 15px;
	width: 100%;
	position: relative;
	z-index: 1;
}
#search .search-box > button{
	border: none;
    background-color: transparent;
	position: absolute;
	top: 1px;
	right: 0;
	z-index: 2;
	padding: 7.5px 15px;
	font-size: 16px;
	color: #c1471d;
}
#search .auto-search{
	position: absolute;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 24px 0 rgb(27 30 37 / 8%);
    -moz-box-shadow: 0 0 24px 0 rgba(27, 30, 37, 0.08);
    box-shadow: 0 0 24px 0 rgb(27 30 37 / 8%);
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    left: 0;
    top: 42px;
}
#search .auto-search .items .item:not(:last-child){
	border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
#search .auto-search .items .item .thumb{
	text-align: center;
}
#search .auto-search .items .item .data{
	padding-left: 15px;
}
#search .auto-search .items .item .data .name a{
	font-size: 13px;
	font-weight: 500;
	color: #000;
}
#search .auto-search .items .item .data .name a:hover{
	color: #c1471d;
}
#search .auto-search .items .item .data .sku{
	font-size: 11px;
	color: #777e89;
}
#search .auto-search .items .item .data .price{
	font-weight: 600;
	margin-top: 5px;
}
@media (max-width: 768px){
	header{
		background: #fff;
		-webkit-box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
		-moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
	}
}
header .contacts{
	display: inline-block;
    text-align: right;
	padding-left: 25px;
}
header .contacts .item{
	line-height: 22px;
}
header .contacts .item a{
	font-size: 16px;
	display: block;
	color: #000000;
	font-weight: 500;
}
@media (max-width: 1024px){
	header .contacts .item a{font-size: 14px;}
}
header .contacts .item a i,
header .contacts .item a:hover{
	color: #c1471d;
}
header .contacts .item button{
	background: none;
	border: none;
	padding: 0;
	border-bottom: 1px dashed #2d2d2d;
	color: #2d2d2d;
	font-size: 12px;
}
header .contacts .item button:hover{
	color: #c1471d;
}
header .contacts .item:not(:last-child){
	margin-bottom: 2px;
}
header .buttons{
	display: inline-block;
	padding: 9px 0;
}
header .buttons button{
	font-size: 22px;
	color: #bebebf;
	background: none;
	border: none;
	padding: 0 0;
	position: relative;
	z-index: 2;
}
header .buttons button.active,
header .buttons button:hover{
	color: #c1471d;
}
header .buttons button:not(:last-child){
	margin-right: 20px;
}

@media (max-width: 700px){	
	header .buttons button#cart{
		margin-right: 0;
	}
}
header .buttons .b-cart{
	display: inline-block;
    position: relative;
}
header .buttons #mobile-menu{
	color: #1d1d1d;
}
header .buttons button span{
	display: block;
    position: absolute;
    top: -4px;
    right: -10px;
    line-height: 16px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #c1471d;
    color: #fff;
    border: 2px solid #fff;
}
header .cart-info{
	display: none;
	position: absolute;
    height: auto;
    top: 100%;
    padding: 15px 0 0 0;
    right: -50px;
    width: 410px;
    z-index: 201;
    background-color: #fff;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    -webkit-box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top: 17px;
}
header .b-cart.active:hover .cart-info{
	display: block;
}
header .cart-info:after{
	content: " ";
    position: absolute;
    top: -21px;
    right: 0;
    left: 0;
    height: 27px;
    z-index: 1;
}
header .cart-info:before{
	content: " ";
    display: block;
    position: absolute;
    top: -15px;
    right: 63px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    z-index: 1;
}
header .cart-info .head{
	padding: 0 20px 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dcdcdc;
}
header .cart-info .head span{
	vertical-align: middle;
	display: inline-block;
	margin-top: 7px;
}
header .cart-info .head span.title{
	font-size: 16px;
    color: #2d2d2d;
    font-weight: bold;
}
header .cart-info .head span.total-products{
	color: #888;
    font-weight: normal;
    margin-left: 10px;
}
header .cart-info .head button{
	padding: 11px 20px;
    line-height: 1;
    border-radius: 20px;
    border-radius: 20px;
    background-color: #f7f7f7;
    border-color: #f7f7f7;
	font-size: 13px;
	float: right;
}
header .cart-info .head button:before{
	content: '\004d';
    display: inline-block;
    font-family: icons_1;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 6px;
    position: relative;
    top: 0.5px;
    margin-right: 6px;
    color: #000;
}
header .cart-info .products{
	max-height: 325px;
    overflow-y: auto;
    width: 100%;
}
header .cart-info .products .product{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;	
}
header .cart-info .products .product:not(:last-child){
	border-bottom: 1px solid #dcdcdc;
}
header .cart-info .products .product .thumb{
	flex: 0 0 130px;
    text-align: center;
	position: relative;
}
header .cart-info .products .product .thumb i{
	position: absolute;
    top: 11px;
    left: 14px;
    width: 26px;
    height: 26px;
    font-size: 10px;
    line-height: 24px;
    text-align: center;
    background: #ea4b4b;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    color: #fff;
}
header .cart-info .products .product .thumb:hover i{
	opacity: 1;
}
header .cart-info .products .product .data{
    position: relative;
    padding: 15px 0 0 10px;
	width: 100%;
}
header .cart-info .products .product .data .title{
	padding-right: 20px;
	max-height: 38px;
    overflow: hidden;
}
header .cart-info .products .product .data .title a{
	color: #2d2d2d;
}
header .cart-info .products .product .data .title a:hover{
	color: #c1471d;
}
header .cart-info .products .product .data .quantity{
	font-size: 13px;
	color: #888;
}
header .cart-info .products .product .price{
	position: absolute;
	bottom: 20px;
	left: 10px;
	font-size: 16px;
	font-weight: bold;
}
header .cart-info .total{
	color: #888;
    font-weight: normal;
	padding: 15px 20px 0;
	border-top: 1px solid #dcdcdc;
	margin-top: 15px;
	font-size: 18px;
}
header .cart-info .total span{
	color: #2d2d2d;
    display: inline-block;
	padding-left: 20px;
	font-size: 24px;
}
header .cart-info .buttons{
	display: flex;
}
header .cart-info .buttons a{
	display: block;
    flex: 50%;
    text-align: center;
    padding: 21px 0;
    margin-bottom: -9px;
}
header .cart-info .buttons a:first-child{
	display: none;
}
header .cart-info .buttons a{
	color: #fff;
	background-color: #c1471d;
}
header .cart-info .buttons a:hover{
	background-color: #cd613c;
}
/*header .cart-info .buttons a:last-child{
	color: #777e89;
	background-color: #f7f7f7;
}
header .cart-info .buttons a:last-child:hover{
	background-color: #dcdcdc;
}*/
header .cart-info .head .close{
	padding: 11px 11px;
    line-height: 1;
    border-radius: 20px;
    border-radius: 20px;
    font-size: 13px;
    float: right;
    display: none;
    position: relative;
    top: -2px;
}
@media (max-width: 700px){
	header .cart-info .products .product .thumb i{opacity: 1}
	header .cart-info .head button{display: none}
	header .cart-info .head .close{display: block}
	header .cart-box{
		display: none;
	}
	header .cart-box.active{
		display: flex;
		position:fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	header .cart-info{
		position: static;
		display: block;
		margin: 87px auto auto;
		max-width: 98%;
	}
}
.mobile-line{height: 25px;}
@media (min-width: 767px) and (max-width: 828px){
	header .contacts{display: none}
	header .search-line{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 52.333333%;
		flex: 0 0 52.333333%;
		max-width: 52.333333%;
	}
	header .buttons-box{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 21.666667%;
		flex: 0 0 21.666667%;
		max-width: 21.666667%;
	}
}
.header-menu{
	background-color: #c1471d;
	margin-top: 20px;
	position: relative;
	z-index: 200;
}
.header-menu ul.menu-line{
	padding: 0;
	margin: 0;
	letter-spacing: -4px;
}
.header-menu ul.menu-line > li.item{
	padding: 0;
	margin: 0;
	display: inline-block;
	list-style: none;
	letter-spacing: normal;
	position: relative;
}
.header-menu ul.menu-line > li.item.catalog-button:after{
    content: '\0043';
    display: inline-block;
    font-family: 'icons_2';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 21px;
    top: 22px;
    font-size: 8px;
    color: #fff;
}
.header-menu ul.menu-line > li.item > a{
	display: inline-block;
	color: #fff;
	padding: 15px 10px;
	border-right: 1px solid #cd613c;
	text-align: center;
	font-size: 16px;
    font-weight: 400;
}
.header-menu ul.menu-line > li.item > a i{
	font-size: 10px;
    position: relative;
    top: -3px;
    margin-right: 10px;
}
.header-menu ul.menu-line > li.item:first-child > a{
	border-left: 1px solid #cd613c;
	width: 300px;
}
.header-menu ul.menu-line > li.item:hover > a{
	background-color: #cd613c;
}
.header-menu ul.menu-line > li.item .catalog-list{
	display: none;
	position: absolute;
    top: 100%;
	left: 0;
	z-index: 10;
	background-color: #fff;
	width: 100%;
}
.header-menu ul.menu-line > li.item:hover .catalog-list{
	display: block;
}
.header-menu ul.menu-line > li.item .catalog-list ul{
	margin: 0;
	padding: 16px 14px 16px 24px;
    border-right: 1px solid rgb(242, 242, 242);
}
.header-menu ul.menu-line li.item .catalog-list ul li{
	padding: 0;
	margin: 0;
	list-style: none;
}
.header-menu ul.menu-line li.item .catalog-list ul li.parent > a:after{
   content: '\0042';
   display: inline-block;
   font-family: 'icons_2';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   position: absolute;
   right: -7px;
   top: 15px;
   font-size: 8px;
}
.header-menu ul.menu-line li.item .catalog-list ul li a{
	padding: 8px 0px;
    color: #808080;
    line-height: 1.5;
	display: block;
	position: relative;
}
.header-menu ul.menu-line li.item .catalog-list ul li:hover a{
	color: #cd613c;
}
.header-menu ul.menu-line li.item .catalog-list ul li a img{
	margin-right: 10px;
}
.header-menu ul.menu-line li.item .catalog-list ul li.parent .childrens-box{
	position: absolute;
	left: 100%;
	top: 0;
	min-height: 100%;
	background-color: #fff;
	padding: 20px 30px 0 30px;
	display: none;
}
.header-menu ul.menu-line li.item .catalog-list ul li.parent .childrens-box:before{
	content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 26px;
    left: -15px;
}
.header-menu ul.menu-line li.item .catalog-list ul li.parent:hover .childrens-box{
	display: block;
}
.header-menu ul.menu-line li.item .catalog-list ul li.parent .childrens-box .children{
	margin-bottom: 20px;
}
.header-menu ul.menu-line li.item .catalog-list ul li.parent .childrens-box .children a{
	line-height: 1.5;
    font-weight: bold;
	color: #2d2d2d;
}
.header-menu ul.menu-line li.item .catalog-list ul li.parent .childrens-box .children a:hover{
	color: #cd613c;
}
.header-menu ul.menu-line li.item .catalog-list ul li.parent .childrens-box .children .sub-children a{
	padding: 8px 0px;
    color: #808080;
    line-height: 1.5;
	display: block;
	font-weight: normal;
}
.header-menu ul.menu-line li.item .catalog-list ul li.parent .childrens-box .children .sub-children a:hover{
	color: #cd613c;
}
header .shadow{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 199;
	background: rgba(0,0,0,0.3);
}
.mobile-menu{
	background: #fff;
	position: fixed;
	top: 0px;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 20px 0;
	z-index: 200;
}
.mobile-menu .sub-catalog-box,
.mobile-menu .content{
	overflow-y: auto;
	max-height: 100%;
}
.mobile-menu .sub-catalog-box{
	position: fixed;
	top: 95px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #fff;
	z-index: 10;
	opacity: 0;
	margin-left: -700px;
}
.mobile-menu .sub-catalog-box .sub-catalog{
	position: absolute;
    width: 100%;
    left: 0;
	top: 0;
	bottom: 0;
	margin-left: -700px;
	background-color: #fff;
	z-index: 10;
	display: none;
}
.mobile-menu .sub-catalog-box .sub-catalog.active{
	display: block;
}
.mobile-menu .head{
	position: relative;
	padding: 0 20px 20px 20px;
	text-align: center;
}
.mobile-menu .head img{
	max-height: 53px;
}
.mobile-menu .head .close{
	position: absolute;
	left: 15px;
	top: 15px;
	font-size: 14px;
}
.mobile-menu .head .mobile-search{
	position: absolute;
    right: 15px;
    top: 13px;
    font-size: 19px;
	color: #bebebf;
}
.mobile-menu ul{
	padding: 0;
	margin: 0;
}
.mobile-menu ul li{
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	position:relative;
}
.mobile-menu ul li i{
	position: absolute;
    right: 10px;
    top: 12px;
    z-index: 3;
    padding: 5px;
    font-size: 12px;
}
.mobile-menu ul li:not(:first-child) > i{
	 padding: 5px 5px 5px 70px;
}
.mobile-menu ul li.back i{
	position: relative;
    margin-right: 10px;
    top: -2px;
    right: auto;
}
.mobile-menu ul li a{
	padding: 15px 20px;
	color: #1d1d1d;
	display: block;
	font-size: 16px;
	border-bottom: 1px solid #f1f1f1;
}
.mobile-menu ul li a:first-child{
	border-top: 1px solid #f1f1f1;
}
.mobile-menu ul li.focus a,
.mobile-menu ul li:focus a,
.mobile-menu ul li:hover a{
	color: #c1471d;
}
.mobile-menu ul li.parent a{
	background-color: #f1f1f1;
}
.mobile-menu .buttons{
	padding: 25px 0;
	text-align: center;
}
.mobile-menu .buttons button{
	font-size: 22px;
	margin: 0 10px;
	color: #bebebf;
	position: relative;
}
.mobile-menu .buttons button.active{
	color: #c1471d;
}
.mobile-menu .buttons button span{
    display: block;
    position: absolute;
    top: -4px;
    right: -4px;
    line-height: 15px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #c1471d;
    color: #fff;
    border: 2px solid #fff;
}
.mobile-menu .contacts li a{
	border-color: #e5e5e5;
}
.mobile-menu .contacts li a{
	background-color: #f1f1f1;
}
.mobile-menu .contacts li i{
	position: relative;
    top: 1px;
    right: auto;
    color: #c1471d;
    font-size: 18px;
    margin-right: 5px;
}

/*form popup*/
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
	font-size: 13px;
}
.control-label {
    font-weight: normal;
    color: #6e6e6e;
}
.form-control {
    display: block;
	width: 100%;
	border-radius: 3px;
    padding: 9px 10px;
    border: 1px solid #efefef;
    background-color: #f6f6f6;
    color: #5f5f5f;
    text-align: left;
    -webkit-transition-property: color,border-color,background-color;
    -moz-transition-property: color,border-color,background-color;
    -ms-transition-property: color,border-color,background-color;
    -o-transition-property: color,border-color,background-color;
    transition-property: color,border-color,background-color;
    -webkit-transition-duration: 350ms;
    -moz-transition-duration: 350ms;
    -ms-transition-duration: 350ms;
    -o-transition-duration: 350ms;
    transition-duration: 350ms;
}
.form-control.code{
	width: 80%;
    letter-spacing: 16px;
	display: inline-block;
}
.form-control.err{
	border-color: #ea4b4b;
}
.form-control.good{
	border-color: #1db940;
}
.timer{
	display: inline-block;
    width: 13%;
    text-align: center;
    color: #777e89;
}
.restore{
	display: inline-block;
    width: 4%;
    text-align: right;
    cursor: pointer;
}
.restore:hover{
	color: #c1471d;
}
textarea.form-control{
	height: 115px;
	resize: none;
}
.form-group.auto{
	position: relative;
	z-index: 100;
}
.form-group .auto-inputs{
	display: none;
}
.form-group.auto .auto-inputs{
	display: block;
	position: absolute;
    padding: 11px;
    border: 1px solid #dcdcdc;
    -webkit-box-shadow: 0 0 24px 0 rgb(27 30 37 / 8%);
    -moz-box-shadow: 0 0 24px 0 rgba(27, 30, 37, 0.08);
    box-shadow: 0 0 24px 0 rgb(27 30 37 / 8%);
    left: 5px;
    right: 5px;
	top: 100%;
	font-size: 13px;
    background-color: #fff;
}
.form-group .auto-inputs div{
	cursor: pointer;
}
.form-group .auto-inputs div:not(:last-child){
	margin-bottom: 10px;
}
.form-group.required .control-label:after{
	content: '*';
    color: #ea4b4b;
    font-weight: 400;
    font-style: normal;
	position: relative;
    top: 0px;
    right: -3px;
}
.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px
}
.help-block{
	font-size: 12px;
    margin-bottom: 15px;
}
.help-block .text-danger{
	font-weight: 600;
}
.product-group,
.form-group {
    margin-bottom: 15px;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0)
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0)
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0)
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0)
    }
}
.fixed{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1040;
	background-color: rgba(0,0,0,0.3);
}
.fixed .close-form{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}
.fixed .close{
	position: absolute;
    top: 16px;
    right: 15px;
}
.fixed .close svg{
	fill: #fff;
}
.fixed .cell{
	position: relative;
	z-index: 2;
	background-color: #fff;
	padding: 0 30px 30px 30px;
	border-radius: 3px;
	width: 500px;
	max-width: 98%;
    margin: auto;
	overflow: hidden;
}
.fixed .cell.img{
	max-height: 90%;
	width: auto;
}
.fixed iframe{
	position: relative;
	z-index: 2;
	background-color: #fff;
	margin: auto;
	width: 85%;
	height: 85%;
	border: none;
}
.fixed .panel{
	position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 13px;
    padding: 11px 15px;
}
.fixed .buttons-top{
	position: absolute;
    right: 15px;
    top: 10px;
}
.fixed .buttons-top i{
	cursor: pointer;
	display: inline-block;
}
.fixed .buttons-top i:not(:last-child){
	margin-right: 15px;
}
.fixed .title-bottom{
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
	background: rgba(0,0,0,0.6);
	padding: 11px 15px;
	z-index: 10;
}
.fixed .arrow{
	position: absolute;
    z-index: 10;
    top: 50%;
    border: none;
    background-color: #fff;
    padding: 0;
    line-height: 35px;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    text-align: center;
}
.fixed .arrow.next{
	right: 15px;
}
.fixed .arrow.prev{
	left: 15px;
}
.fixed .arrow:hover{
	background-color: #c1471d;
	color: #fff;
}
.fixed .form .title{
	font-size: 20px;
    background-color: #c1471d;
    color: #fff;
    font-weight: 500;
    margin: 0 -30px 20px;
    padding: 20px 30px 20px 20px;
}
.fixed .form .title .sub{
	font-size: 16px;
}
.form .control-label {
    font-size: 14px;
}
.form .error-text{
	margin-bottom: 20px;
    color: #ea4b4b;
    font-size: 13px;
}
.form .text-agree{
	font-size: 12px;
	margin-bottom: 15px;
}
.form .buttons button{
	display: block;
	margin: 0 0 0 auto;
}
.fixed .form .scroll{
	overflow-y: auto;
	overflow-x: hidden;
}
.fixed .form .product{
	font-weight: 600;
}
.fixed .form .product img{
	vertical-align: middle;
    padding-right: 20px;
}
.fixed .form .product .name{
	display: inline-block;
	vertical-align: middle;
}
.fixed .form .product .name span{
	color: #777e89;
	font-size: 12px;
	font-weight: normal;
}
.fixed .form .error,
.fixed .form .thanks{
	padding-left: 66px;
    position: relative;
	font-size: 13px;
}
.fixed .form .error:before,
.fixed .form .thanks:before{
    font-size: 47px;
    display: inline-block;    
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 0;
    top:5px;   
}
.fixed .form .thanks:before{	 
	content: '\004a';
	font-family: 'icons_2';
	color: #c1471d;
}
.fixed .form .error:before{
	content: '\0075';
	font-family: 'icons_1';
	color: #ea4b4b;
}
/*product-compare*/
.compare-box{
	white-space: nowrap;
    overflow-y: auto;
	overflow-x: visible;
	position: relative;
}
.products-compare{
	display: inline-block;
	width: 280px;
	padding: 0 20px 20px 20px;
	vertical-align: top;
	white-space: normal;
	position: relative;
    z-index: 2;
}
.products-compare .data{
	height: 400px;
}
.products-compare .thumb{
	height: 150px;
    text-align: center;
	background-color: #fff;
	margin: 0 -20px 30px -20px;
}
.products-compare .thumb img{
	margin: 0 auto;
}
.products-compare .name{
	height: 66px;
	overflow: hidden;
}
.products-compare .name a{
	display: block;
    color: #2d2d2d;
    font-size: 16px;
    margin-bottom: 5px;
}
.products-compare .name a:hover{
	color: #c1471d;
}
.products-compare .sku{
	font-size: 12px;
    color: #777e89;
    margin-bottom: 25px;
}
.products-compare .buttons{
	text-align: center;
}
.products-compare .buttons button{
	color: #777e89;
    background: rgba(255,255,255,0.7);
    border: none;
    margin-bottom: 5px;
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 3px;
}
.products-compare .buttons button.active,
.products-compare .buttons button:hover {
    color: #fff;
    background: #c1471d;
}
.products-compare .buttons button.remove{
	background: #ea4b4b;
	color: #fff;
}
.products-compare .attrs-p .arrt-pn,
.products-compare .attrs-p .arrt-p{
	padding: 5px;
	border-bottom: 1px solid #F2F2F2;
}
.left-attr-groups .arrt-pn,
.attr-groups .arrt-pn,
.attr-groups .arrt-p{
	padding: 5px;
	border-bottom: 1px solid #fff;
}
.attr-groups .arrt-pn{
	text-align: center;
	font-weight: 600;
}
.products-compare:hover  .attrs-p .arrt-p{
	background-color: #f8f9fb;
}
#products-compare{
	z-index: 2;
}
#products-compare .slick-prev:before, 
#products-compare .slick-next:before {
    top: 1px;
	left: 10px;
}
.attr-groups{
	position: sticky;
    top: 0;
    left: 0;
    width: 100%;
	z-index: 1;
}
.attr-groups .arrt-g-p{
	padding: 5px;
	color: #777e89;
	text-align: center;
}
.arrt-g-p{
	display: none!important;
}
.attr-groups,
.products-compare .attrs-p .arrt-pn{
	display: none;
}
.left-attr-groups{
	padding-top: 465px;
}
.left-attr-groups .arrt-pn{
	border-bottom: 1px solid #F2F2F2;
}
@media (max-width: 1023px){
	.attr-groups,
	.products-compare .attrs-p .arrt-pn{
		display: block;
	}
}
.compare-box .switch-box{
	position: sticky;
    top: 400px;
    left: 0;
    z-index: 3;    
}
.switch-box{
	width: 100%;
    padding: 20px;
    border: 1px solid #F2F2F2;
	cursor: pointer;
}
.switch-box .switch-bg{
	display: inline-block;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    width: 36px;
    height: 22px;
    position: relative;
    border-radius: 10px;
    vertical-align: middle;
    margin-right: 10px;
}
.switch-box .switch-bg .switch{
	position: absolute;
    top: 2px;
    left: 2px;
    background-color: #dcdcdc;
    width: 16px;
    height: 16px;
    border-radius: 20px;
	
}
.switch-box .switch-bg[data-value="1"] .switch{
	left: auto;
	right: 2px;
	background-color: #c1471d;
}
/*product*/
.sub-title{
	margin-top: -14px;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 16px;
    color: #777e89;
}
.title-line{
	border-bottom: 1px solid #F2F2F2;
	margin-bottom: 40px;
}
.thumb-box{
	position: relative;
}
.thumb-box .thumb{
	height: 450px;
	width: 100%;
	display: flex;
	position: relative;
}
.thumb-box .thumb .manufacturer-thumb{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
@media (max-width: 699px){
	.manufacturer-thumb{
			margin-top: -33px;
	}
}
.thumb-box .thumb img.image{
	display: block;
	margin: auto;
	width: 450px;
	height: auto;
}
@media (max-width: 474px){
	.thumb-box .thumb{
		height: auto;
	}
}


.thumb-box .thumbs{
	/*margin: 30px auto auto;*/
	width: 84px;
	height: 279px;
	overflow: hidden;
	text-align: center;
	position: absolute;
	top: 15px;
	left: 0;
}
@media (max-width: 474px){
	.thumb-box .thumbs{
		margin: 30px auto auto;
		width: 347px;
		height: 84px;
		overflow: hidden;
		text-align: center;
		position: relative;
	}
}
.thumb-box .thumbs span{
	display: inline-block;
	background-color: #fff;
	padding: 10px;
	cursor: pointer;
	width: 84px;
	height: 84px;
	background-image: url('../image/3d.jpg');
	background-position: center;
	background-size: 70px;
	background-repeat: no-repeat;
}
.thumb-box .thumbs img{
	display: inline-block;
	background-color: #fff;
	padding: 10px;
	opacity: 0.6;
	cursor: pointer;
	max-width: 84px;
	height: 84px;
}
.thumb-box .thumbs img.active,
.thumb-box .thumbs img:hover{
	opacity: 1;
}
@media (max-width: 1024px){
	.thumb-box .thumbs img{
		opacity: 1;
	}
}
@media (max-width: 400px){
	.thumb-box .thumbs{
		width: 285px;
	}
}
.top-data{
    top: 20px;
	padding-right: 100px;
}
@media (max-width: 1024px){
	.thumb-box .thumbs img{
		padding-right: 0;
	}
}
@media (max-width: 400px){
	.thumb-box .thumbs{
		width: 285px;
	}
}
.top-data .title{
	margin-bottom: 12px;
}
.top-attrs .attr{
	margin-top: 8px;
	font-size: 13px;
}
.top-attrs .attr span{
	color: #777e89;
}
.top-attrs .attr img{
	vertical-align: middle;
    margin-left: 5px;
}
.top-attrs .attr a{
	color: #2d2d2d;
    border-bottom: 1px dashed;
}
.top-attrs .attr a:hover{
    border-color: #fff;
}
.options{
	margin-top: 30px;
	position: relative;
}
.options .option-data input[type="radio"]{
	display: none;
}
.options .option-data .radio-select{
	margin: -5px;
}
.options .option-data .radio{
	display: inline-block;
	margin: 5px;
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	width: 32px;
	height: 32px;
	position: relative;	
}
.options .option-data .radio img{
	border-radius: 3px;
}
.options .option-data .radio .border{
	position: absolute;
	left: 1px;
	right: 1px;
	bottom: 1px;
	top: 1px;
	border: 2px solid transparent;
	border-radius: 3px;
	cursor: pointer;
}

.options .option-data .radio:hover .border,
.options .option-data .radio.active .border{
	border-color: #fff;
}
.options .option-data .radio.block{
	width: auto;
	height: auto;
	padding: 3px;
	cursor: pointer;
}
.options .option-data .radio.block label{
	margin-bottom: 0;
	cursor: pointer;
}
.options .option-data .radio.block:hover,
.options .option-data .radio.block.active{
	border-color: #c1471d;
	background-color: #c1471d;
	color: #fff;
}
.options .not-found{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
	min-height: 100%;
    background-color: #fff;
    display: none;
    z-index: 30;
    padding: 35px;
    font-weight: 500;
	border: 1px solid #e8e8e8;
	-webkit-box-shadow: 0 0 24px 0 rgb(27 30 37 / 8%);
    -moz-box-shadow: 0 0 24px 0 rgba(27, 30, 37, 0.08);
    box-shadow: 0 0 24px 0 rgb(27 30 37 / 8%);
}
.options.err .not-found{
	display: flex;
}
.options .not-found span{
	display: block;
	margin: auto;
	text-align: center;
}
.product-buttons{
	margin-bottom: 30px;
}
@media (max-width: 924px){
	.top-attrs{margin-top: 30px; margin-bottom: 30px;}
	.thumb-box .thumb .manufacturer-thumb{right: 0}
	.product-data{width: 100%;}
	.product-buttons {
		text-align: center;
		width: 100%;
	}
}
.product-buttons button{
	padding: 8px 10px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    color: #777e89;
	position: relative;
	width: 135px;
}
.product-buttons button i{
	margin-right: 5px;
}
.product-buttons button:not(:last-child){
	margin-right: 8px;	
}
.product-buttons button.active,
.product-buttons button:hover{
	color: #fff;
	background-color: #c1471d;
	border-color: #c1471d;
}
.product-buttons button .list{
	position: absolute;
    min-width: 100% webkit-box-shadow: 0 8px 32px 0 rgb(27 30 37 / 8%);
    -moz-box-shadow: 0 8px 32px 0 rgba(27, 30, 37, 0.08);
    box-shadow: 0 8px 32px 0 rgb(27 30 37 / 8%);
    bottom: auto;
    left: auto;
    right: 0;
    top: 100%;
    height: auto;
    background-color: #fff;
    cursor: default;
    margin-top: 10px;
    padding: 28px 32px;
    position: absolute;
    min-width: 200px;
	display: none;
}
.product-buttons button:hover .list{
	display: block;
}
.product-buttons button .list a{
	color: #777e89;
	display: block;
	text-align: left;
}
.product-buttons button .list a:before{
	content: ' ';
	height: 10px;
	width: 100%;
	position: absolute;
	top: -10px;
	left: 0;
}
.product-buttons button .list a:hover{
	color: #2d2d2d;
	display: block
}
.product-buttons button .list a:not(:last-child){
	margin-bottom: 8px;	
}
.product-data{
	min-width: 350px;
	width: 100%;
	padding: 30px;
    background-color: #FFF;
    -webkit-box-shadow: 0 0 24px 0 rgb(27 30 37 / 8%);
    -moz-box-shadow: 0 0 24px 0 rgba(27, 30, 37, 0.08);
    box-shadow: 0 0 24px 0 rgb(27 30 37 / 8%);
	margin-bottom: 30px;
}
@media (max-width: 700px){
	.product-data{
		width: 100%;
	}
}
.product-data .price{
	font-size: 24px;
    font-weight: 600;
    line-height: 26px;
	white-space: nowrap;
}
.product-data .price span.old{
	font-size: 14px;
    line-height: 14px;
    color: #808080;
	font-weight: normal;
    text-decoration: line-through;  
	display: inline-block;
	margin-left: 10px;
}
.product-data .price span.tax{
	color: #777e89;
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
}
.product-data .percent{
	margin: 10px auto auto 0;
    font-size: 11px;
    border: 1px solid #c1471d;
    width: fit-content;
    padding-right: 10px;
	font-weight: 600;
    border-radius: 3px;
}
.product-data .percent span{
	padding: 3px 5px;
	background-color: #c1471d;
	margin-right: 5px;
	vertical-align: middle;
	display: inline-block;
}
.product-data .percent svg{
	margin-left: 5px;
	vertical-align: middle;
}
.product-data .percent svg path{
	stroke: #2d2d2d;
}
.product-data .minimum{
	margin-top: 10px;
    font-size: 13px;
}
.product-data .minimum i{
	display: inline-block;
    margin-right: 5px;
    font-size: 4px;
    position: relative;
    top: -5px;
    left: 1px;
}
.product-data .quantity-class{
	font-size: 13px;
	color: #777e89;
	font-weight: normal;
}
.product-data .in-stock {
	margin-top: 15px;
    font-size: 13px;
    color: #777e89;
}
.product-data .in-stock i {
    display: inline-block;
    margin-right: 5px;
    font-size: 4px;
    position: relative;
    top: -5px;
	left: 1px;
}
.product-data .in-stock .status {
    display: inline-block;
    position: relative;
	font-weight: 500;
}
.product-data .in-stock .item{
	display: inline-block;
	margin-top: 10px;
}
.product-data .in-stock .item:not(:last-child){
	margin-right: 20px;
}
.product-data .in-stock button{
	background: none;
    border: none;
    padding: 0;
}
.product-data .in-stock svg{
	vertical-align: middle;
}
.product-data .in-stock svg path{
	margin-left: 5px;
	stroke: #777e89;	
}
.product-data .in-stock button span{
	color: #777e89;
	border-bottom: 1px dashed;
}
.product-data .in-stock button:hover span{
	color: #c1471d;
}
.product-data .buttons {
    display: flex;
    height: 50px;
    margin: 30px -30px 0 -30px;
}
.product-data .buttons .item {
    display: flex;
    width: 50%;
    margin: 0;
}
.product-data .buttons .item span {
    background-color: #f2f2f2;
    cursor: pointer;
    padding-top: 15px;
    font-size: 16px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.product-data .buttons .item span, 
.product-data .buttons .item input {
    display: block;
    margin: 0;
    width: 33.3333333%;
    text-align: center;
    border: none;
}
.product-data .buttons button.item {
    display: block;
    border: none;
    padding: 0 0;
    background-color: #c1471d;
    color: #fff;
}
.product-data .buttons button.item:hover{ 
	background-color: #cd613c;
}
.product-data .buttons button.in-cart {
    background-color: #1db940;
}
.product-data .buttons button.in-cart:hover {
    background-color: #69cb7f;
}
.product-data .buttons .item.get-form {
    width: 100%;
    background-color: #777e89;
}
.product-data .buttons .item.get-form:hover {
    background-color: #dcdcdc;
    color: #2d2d2d;
}
.product-data .one-click{
	margin: 0 -30px -30px -30px;
}
.product-data .one-click .get-form{
    padding: 17px 0;
    background-color: ##cbc4c20d;
    color: black;
    text-align: center;
    border: none;
    display: block;
	width: 100%;
}
/*
.product-data .one-click .get-form{
    padding: 17px 0;
    background-color: #c1471d;
    color: #FFF;
    text-align: center;
    border: none;
    display: block;
	width: 100%;
}
*/
.product-data .one-click .get-form:hover{
	background-color: #dcdcdc;
}
.specification .group,
.specification .attr{
	padding: 6px 6px;
}
.specification .group:not(:first-child){
	margin-top: 10px;
	border-top: 1px solid #F2F2F2;
	padding-top: 10px;
}
.specification .group{
	font-weight: 600;
}
.specification .attr{
	display: flex;
}
.specification .attr:hover{
	font-weight: 600;
}
.specification .attr.grey{
	background-color: #f8f9fb;
}
.specification .attr .name{
	flex: 0 0 50%;
	color: #777e89;
}
.specification .attr .text{

}
.review-box,
#reviews-form{
	margin-top: 30px;
}
#reviews-form{
	border: 1px solid #F2F2F2;
    padding: 25px;
}
.review{
	border: 1px solid #F2F2F2;
    padding: 25px;
}
.review:not(:last-child){
	margin-bottom: 20px
}
.review .date{
	color: #777e89;
    font-size: 12px;
    margin-bottom: 3px;
}
.review .author{
	font-size: 16px;
    font-weight: 500;
	margin-bottom: 25px;
}
.review .text{
	
}
.doc{
	display: block;
    padding: 20px 24px;	
	position: relative;
	margin-bottom: 20px;
	border: 1px solid #F2F2F2;
}
.doc:hover{
	-webkit-box-shadow: 0 8px 32px 0 rgb(27 30 37 / 8%);
    -moz-box-shadow: 0 8px 32px 0 rgba(27, 30, 37, 0.08);
    box-shadow: 0 8px 32px 0 rgb(27 30 37 / 8%);
}
.doc span{
	display: block;
}
.doc .title{
	overflow: hidden;
	text-overflow: ellipsis;
	color: #2d2d2d;
	font-weight: 500;
	white-space: nowrap;
}
.doc .size{
	color: #777e89;
    font-size: 11px;
    margin-top: 2px;
}
.doc .bg{
	position: absolute;
    bottom: 0;
    right: 10px;
    opacity: 0.6;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 32px;
    color: #F2F2F2;
}
.doc:hover .bg{
	opacity: 1;	
}
/*news*/
.new-box{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.new-box:not(:first-child){
	border-top: 1px solid #e8e8e8;
	padding-top: 25px;
	margin-top: 25px;
}
.new-box .thumb{
	-webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
	padding-right: 30px;
}
.new-box .thumb a{
	display: block;
	width: 270px;
	height: 190px;
	background-position: center;
    background-size: cover;
}
.new-box .thumb a:hover{
	opacity: 0.6;
}
.new-box .data{
	-ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
	padding-top: 10px;
}
.new-box .data a{
	display: block;
	font-size: 18px;
	margin-bottom: 15px;
}
.new-box .data .date{
	color: #777e89;
	font-size: 12px;
	margin-bottom: 15px;
}
@media (max-width: 750px){
	.new-box{
		display: block;
	} 
	.new-box .thumb{
		padding-right: 0;
	}
	.new-box .thumb a{
		width: 100%;
	}
}
/*catalog*/
.breadcrumb{
	padding: 0 0;
	display: block;
    margin: 10px 0 11px 0;
}
.breadcrumb li{
	display: inline-block;
	list-style: none;
}
.breadcrumb li:not(:last-child):after{
	content: '/';
	margin: 0 10px;
	font-size: 12px;
	color: #9a9a9a;
}
.breadcrumb li span,
.breadcrumb li a{
	font-size: 12px;
	color: #9a9a9a;
}
.breadcrumb li a:hover{
	color: #c1471d
}
.view-buttons button{
	color: #bababa;
}
.view-buttons button:hover,
.view-buttons button.active{
	color: #2d2d2d;
}
.news{
	min-height: 100%;
}
.new{
    border: 1px solid #e8e8e8;
    border-radius: 5px;
	height: 100%;
	padding-bottom: 25px;
}
.new .thumb{
	height: 180px;
	margin-bottom: 25px;
	background-position: center;
	background-size: cover;
}
.new .thumb a{
	display: block;
	height: 100%;
	width: 100%;
}
.new .thumb a:hover{
	background: rgba(255,255,255,0.5)
}
.new:hover{
	box-shadow: 0 2px 18px 0 rgb(0 0 0 / 12%);
}
.new .title{
	word-break: break-word;
    padding: 0 25px;
    overflow: hidden;  
	margin-bottom: 14px;	
}
.new .title a{
	font-size: 16px;
	color: #2d2d2d;
}
.new .title a:hover{
	color: #c1471d;
}
.new .description{
    padding: 0 25px;
    font-size: 14px;
    line-height: 21px;
    color: #808080;    
}
@media (max-width: 1023px){
	.row .news:not(:last-child){margin-bottom: 20px;}
}
.manufacturers .manufacturer a{
	display: block;
	text-align: center;
	padding: 25px 15px;
    border-radius: 5px;
    background-color: #fff;
	border: 1px solid #f2f2f2;
}
.manufacturers .manufacturer a:hover{
	box-shadow: 0px 8px 32px rgb(27 30 37 / 8%);
}
.manufacturers .manufacturer img{
	display: inline-block;
	filter: grayscale(100%);
}
.manufacturers .manufacturer:hover img{
	filter: grayscale(0%);
}
.benefits{
	text-align: center;
	padding: 25px 15px;
}
.benefits .icon{
	margin-bottom: 25px;
	height: 38px;
}
.benefits .icon svg{
	fill: #c1471d;
	stroke: #c1471d;
	width: 60px;
}
.benefits .title{
	line-height: 22px;
    margin-bottom: 4px;
    color: #404040;
}
.benefits .text{
	font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #808080;
}
.children-categories{
	margin-bottom: 30px;
}
.categories-search{
	padding-bottom: 10px;
}
.category{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
	border: 1px solid #f2f2f2;
	height: 100%;
}
.category .thumb{
	flex: 0 0 110px;
	text-align: center;
	display: flex;
}
.category .thumb a{
	display: block;
    margin: auto;
}
.category .data{
	width: 100%;
	padding: 15px 15px;
	display: flex;
}
.category .data a{
	display: block;
	margin: auto 0;
	font-size: 14px;
	font-weight: 500;
	color: #2d2d2d;
	width: 100%;
}
.category:hover .data a{
	color: #c1471d;
}
.category-top:hover,
.category:hover{
	box-shadow: 0px 8px 32px rgb(27 30 37 / 8%);
}
.category-box{
	min-height: 100%;
	padding-bottom: 10px;
}
.category-top{
	height: 100%;
	border: 1px solid #f2f2f2;	
}
.category-top a{
	padding: 25px 15px;
    border-radius: 5px;
    background-color: #fff;	
	display: block;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	color: #2d2d2d;
}
.category-top a img{
	display: block;
	margin: 0 auto 25px auto;
}
.category-top a:hover{
	color: #c1471d;
}
/*#content,
.bottom-line{margin-bottom: 50px;}*/
#content{margin-bottom: 50px; max-width: 100%;}

.list-group:not(:last-child){
	margin-bottom: 30px;
}
.list-group .item:not(:last-child){
	margin-bottom: 10px;
}
.list-group > i{
	color: #c1471d;
    font-size: 19px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}
.list-group > a{
	color: #2d2d2d;
	border-bottom: 1px dashed;
}
.list-group > a:hover{
	border-color: #fff;
}
.categories-list{
	padding: 0;
	margin: 0;
	border: 1px solid #f2f2f2;
}
.categories-list li{
	display: block;
	list-style: none;
	position: relative;
}
.categories-list > li > a{
	display: block;
	padding: 18px 35px 17px 24px;
	color: #777e89;	
}
.categories-list > li > a > span{
	font-size: 12px;
	display: block;
	color: #777e89;	
	font-weight: normal;
}
.categories-list > li.parent > i{
    position: absolute;
    top: 1px;
    right: 0;
    z-index: 2;
    font-size: 9px;
    padding: 20px;
	cursor: pointer;
}
.categories-list > li:not(:last-child){
	border-bottom: 1px solid #f2f2f2;
}
.categories-list > li.active > a{
	color: #2d2d2d;
	font-weight: 600;
}
.categories-list > li.active,
.categories-list > li:hover{
	background: #fbfcfd;
}
.categories-list li .children{
	margin: 0 0 17px 0;
	padding: 0;
	display: none;
}
.categories-list li.show i{
	transform: rotate(90deg);
}
.categories-list li .children li{
	display: block;
	list-style: none;
}
.categories-list li .children li a{
	color: #777e89;	
	display: block;
	padding: 4px 35px 4px 35px;
}
.categories-list li .children li a:hover{
	color: #cd613c;	
}
.faq{
	padding: 10px 25px;
	border: 1px solid #e8e8e8;
	margin-bottom: 10px;
	background-color: #fff;
}
.faq.active{
	box-shadow: 0 2px 18px 0 rgb(0 0 0 / 12%);
}
.faq .question{
	font-size: 16px;
	font-weight: 600;
	height: 50px;
	display: flex;
	cursor: pointer;
}
.faq .question span{
	display: block;
	margin: auto;
	padding-right: 25px;
	position: relative;
}
.faq .question span i{
	position: absolute;
	right: 0;
    top: 3px;
    font-size: 11px;
}
.faq .answer{
	font-size: 14px;
	min-width: 100%;
	display: none;
	margin-top: 25px;
}


.list-hidden{
	padding: 10px 25px;
	border: 1px solid #e8e8e8;
	margin-bottom: 10px;
	background-color: #fff;
}
.list-hidden.active{
	box-shadow: 0 2px 18px 0 rgb(0 0 0 / 12%);
}
.list-hidden .title{
	font-size: 16px;
	font-weight: 600;
	height: 50px;
	display: flex;
	cursor: pointer;
}
.list-hidden .title > span{
	display: block;
    margin: auto 0 auto 0;
    padding-right: 25px;
    position: relative;
    width: 100%;
}
.list-hidden .title > span img,
.list-hidden .title > span span{
	vertical-align: middle;
}
.list-hidden .title > span img{
	margin-right: 10px;
}
.list-hidden .title span i{
	position: absolute;
	right: 0;
    top: 3px;
    font-size: 11px;
}
.list-hidden .content{
	font-size: 14px;
	min-width: 100%;
	display: none;
	margin-top: 25px;
	margin-bottom: 15px;
}
.list-hidden .content a{
	color: #777e89;
	border-bottom: 1px dashed;
}
.list-hidden .content a:hover{
	color: #c1471d;
	border-color: #fff;
}
/*products*/
.product-view-options{
	margin-bottom: 20px;
}
.product-layout{
	min-height: 100%;
	padding-bottom: 10px;
}
.product-box{
	position: relative;	
	z-index: 1;
	padding: 20px 20px 117px 20px;
	margin-bottom: 10px;
	height: 100%;
}
.product-box:hover{
	z-index: 10;
}
.product-box .cart{
	text-align: center;
}
.product-box .cart,
.product-box .thumb,
.product-box .data{
	position: relative;	
	z-index: 2;
		
}
.product-box .border{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background-color: #fff;
	border: 1px solid #F2F2F2;
}
.product-box:hover .border{
	left: -10px;
	top: -10px;
	bottom: -10px;
	right: -10px;
	-webkit-box-shadow: 0 16px 32px 0 rgb(27 30 37 / 8%);
    -moz-box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.8);
    box-shadow: 0 16px 32px 0 rgb(27 30 37 / 8%);
}
.slick-slide .product-box:hover .border{
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
    box-shadow: none;
}
.product-box .thumb{
	margin-bottom: 22px;
	display: flex;
	height: 193px;
	position: relative;
}
.product-box .thumb img{
	display: block;
	margin: auto;
	position: relative;
	z-index: 1;
}

.product-box .thumb .section{
	position: absolute;
	right: -18px;
	top: 0;
	z-index: 2;
}
.product-box .thumb .section button{
	display: block;
    color: #777e89;
    background: rgba(255,255,255,0.7);
    border: none;
    margin-bottom: 5px;
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 3px;
}
.product-box .thumb .section button.active,
.product-box .thumb .section button:hover{
	color: #fff;
	background: #c1471d;
}
.product-box .thumb a{
	display: block;
    margin: 0 auto;
}
.product-box .labels{
	position: absolute;
    z-index: 2;
    left: -19px;
    top: -19px;
}
.product-labels .label,
.product-box .labels .label{	    
    padding: 1px 5px;
    font-size: 13px;
	width: fit-content;
}
.product-labels{
	margin-top: -21px;
    margin-bottom: 13px;
}
.product-labels .label{
	display: inline-block;
}
.product-box .labels .label:not(:last-child){
	margin-bottom: 5px;
}
.product-labels .label:not(:last-child){
	margin-right: 5px;
}
nav .specials a:before{
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 3px;
}
.viewed-item .labels{
	position: absolute;
	bottom: 0;
	left: 0;
}
.viewed-item .labels .label{
	display: inline-block;
	padding: 0 5px;
}
.viewed-item .labels .label:not(:last-child){
	margin-right: 5px;
}

nav .specials a.lasted:before,
.product-labels .label._new,
.viewed-item .labels .label._new,
.product-box .labels .label._new{background-color: #ffcd16;}
nav .specials a.viewed:before,
.product-labels .label._top,
.viewed-item .labels .label._top,
.product-box .labels .label._top{background-color: #ff0000; color: #fff;}

.product-labels .label._freeshipping,
.viewed-item .labels .label._freeshipping,
.product-box .labels .label._freeshipping{background-color: #61a5eb; color: #fff;}

nav .specials a.special:before{background-color: #1db940; color: #fff;}
.product-box .name{
	display: block;
	color: #2d2d2d;
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 500;
}
.product-box .name:hover{
	color: #c1471d;
}
.product-box .sku{
	font-size: 15px;
	color: #2d2d2d;
	margin-bottom: 25px;
}
.product-box .description{
	display: none;
}
.product-box .in-stock{
	font-size: 13px;
	color: #2d2d2d;
	font-weight: 500;
}
.product-box .in-stock .status{
	border-bottom: 1px dashed;
	display: inline-block;
	position: relative;
}
.product-box .in-stock i{
	display: inline-block;
    margin-right: 5px;
    font-size: 4px;
    position: relative;
    top: -5px;
}
.product-box .price{
	padding: 0 20px;
	font-size: 18px;
    font-weight: 600;
}
.product-box .price span.old{
	color: #777e89;
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    margin-left: 10px;
    text-decoration: line-through;
}
.product-box .price span.special{
	color: #ff0000;;
}
.product-box .cart{
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0 0 0;
}
.product-box .buttons{
	display: flex;
	width: 100%;
	height: 50px;
	margin-top: 15px;
}
.product-box .buttons .item{
	display: flex;
	width: 50%;
	margin: 0;
}
.product-box .buttons .item.get-form{
	width: 100%;
	background-color: #777e89;
}
.product-box .buttons .item.get-form:hover{
	background-color: #dcdcdc;
	color: #2d2d2d;
}
.product-box .buttons .item span,
.product-box .buttons .item input{
	display: block;
    margin: 0;
    width: 33.3333333%;
    text-align: center;
    border: none;
}
.product-box .buttons .item span{
	background-color: #f2f2f2;
    cursor: pointer;
    padding-top: 15px;
    font-size: 18px;
	-webkit-touch-callout: none; 
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;  
}
.product-box .buttons .item span:hover{
	color: #c1471d;
}
.product-box .buttons button.item{
	display: block;
	border: none;
	padding: 0 0;
	background-color: #c1471d;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
}
.product-box .buttons button:hover{
	background-color: #cd613c;
}
.product-box .buttons button.in-cart{
	background-color: #1db940;
}
.product-box .buttons button.in-cart:hover{
	background-color: #69cb7f;
}
.product-list .product-box{
	display: flex;
}
.product-list .product-box .thumb{
	flex: 0 0 228px;
	z-index: 10;
}
.product-list .product-box .data{
	width: 100%;
	padding-left: 50px;
}
.product-list .product-box .data .description{
	display: block;
	margin-bottom: 25px;
}
.product-list .product-box{
	padding: 20px 20px 20px 20px;
}
.product-list .product-box .buttons {
    display: flex;
    width: 30%;
    height: 50px;
    margin-top: 15px;
    float: right;
}
.product-list .product-box .price{
	text-align: right;
}
.product-list .product-box .thumb .section{
    right: auto;
    top: auto;
    left: 0;
    width: 100%;
    bottom: -35px;
	text-align: center;
}
.product-list .product-box .thumb .section button{
	display: inline-block;	
	font-size: 18px;
}
.product-list .product-box .thumb .section button:not(:last-child){
	margin-right: 15px;
}
.pagination{
	display: block;
	padding: 0;
	margin: 25px 0 0 0;	
}
.pagination li{
	list-style: none;
	display: inline-block;
}
.pagination li:not(:last-child){
	margin-right: 10px;
}
.pagination li span,
.pagination li a{
	color: #2d2d2d;
	padding: 10px 0;
	width: 40px;
	display: block;
	border-radius: 3px;
	font-weight: 600;
	text-align: center;
}
.pagination li a:hover,
.pagination li.page span{
	color: #fff;
	background-color: #c1471d;
}
.pagination li i{
	font-size: 9px;
    position: relative;
    top: -3px;
}
.results{
	font-size: 12px;
	color: #777e89;
	margin: 5px 0 0 0;	
}
.select{opacity: 0;}
.select-box{
	font-weight: 400;
	position: relative;
	z-index: 25;
}
.select-box i{
	font-size: 16px;
	color: #404040;
	margin-right: 10px;
}
.select-box .label{
	cursor: pointer;
}
.select-box .options{
	position: absolute;
	min-width: 100%;
	webkit-box-shadow: 0 8px 32px 0 rgb(27 30 37 / 8%);
    -moz-box-shadow: 0 8px 32px 0 rgba(27, 30, 37, 0.08);
    box-shadow: 0 8px 32px 0 rgb(27 30 37 / 8%);
    bottom: auto;
    left: auto;
    right: 0;
    top: 100%;
    height: auto;
    background-color: #fff;
    cursor: default;
    margin-top: 10px;
    padding: 28px 32px;
    position: absolute;
	display: none;
}
.select-box .options .option{
	text-align: left;
	white-space: nowrap;
	cursor: pointer;
	color: #777e89;
}
.select-box .options .option.active{
	color: #2d2d2d;
}
.select-box .options .option:hover{
	color: #c1471d;
}
.select-box .options .option:not(:last-child){
	margin-bottom: 5px;
}
.r-45{
	transform: rotate(45deg);
    display: inline-block;
}
.r-90{
	transform: rotate(90deg);
    display: inline-block;
}
.r-180{
	transform: rotate(180deg);
    display: inline-block;
}
.r-360{
	transform: rotate(360deg);
    display: inline-block;
}
.ajax-pagination{
	border: 1px solid #F2F2F2;
	margin-top: 20px;
	padding: 18px 0;
	color: #c1471d;
	cursor: pointer;
}
.ajax-pagination i{
	display: inline-block;
	margin-right: 10px;
}
.ajax-pagination:hover i{
	transform: rotate(360deg);
    display: inline-block;
}
.nav-tabs{
	margin: 10px -10px 30px -10px;
	padding: 0;
}
.nav-tabs li{
	display: inline-block;
	list-style: none;
	padding: 0 15px;
}
.nav-tabs li a{
	display: inline-block;
	padding: 5px 0;
	color: #2d2d2d;
	position: relative;
}
.nav-tabs li a:after{
	content: '';
    display: block;
    position: absolute;
    top: auto;
    right: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #2d2d2d;
    opacity: 0;
	-webkit-transition:  0.7s ease;
    -moz-transition:  0.7s ease;
    -o-transition: 0.7s ease;
    transition:  0.7s ease;
}
.nav-tabs li a:hover:after{
	 right: 0;
	 opacity: 1;
}
.nav-tabs li.active a{
	 color: #c1471d;
}
.nav-tabs li.active a:after{
	 right: 0;
	 opacity: 1;
	 background-color: #c1471d;
}
.tab-content .tab-pane,
.tab-content .tab{
	display: none;
}
.tab-content .tab-pane.active,
.tab-content .tab.active{
	display: block;
}
/*footer*/
.question-form{
	background-color: #c1471d;
	padding: 30px 0;
	color: #fff;
}
.question-form .title{
	display: inline-block;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    padding: 0 30px;
    font-size: 22px;
    font-weight: 600;
    max-width: 250px;
	position: relative;
	vertical-align: middle;
}
.question-form .title span{
	position: absolute;
	top: -30px;
    left: 0;
    right: 0;
    bottom: -30px;
	display: block;
	background-image: url(../image/question.png);
    background-repeat: no-repeat;
    background-position: center;
}
.question-form .text{
	display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: middle;
    padding: 0 40px;
    max-width: 55%;
}
.question-form button{
	float: right;
	margin-top: 5px;
}
@media (max-width: 1093px){
	.question-form .text{ max-width: 52%;}
}
@media (max-width: 920px){
	.question-form .title{
		display: block;
		max-width: 100%;
		border: none;
		text-align: center;
		padding-bottom: 25px;
	}
	.question-form .text{
		display: block;
		max-width: 80%;
		margin: 0 auto;
		text-align: center;
		padding-bottom: 25px;
	}
	.question-form .title span{
		display: none;
	}
	.question-form button{
		display: block;
		float: none;
		margin: 0 auto;
	}
}
@media (max-width: 700px){
	.question-form .text{
		max-width: 100%;
		padding: 0 20px 25px 20px;
	}
}
.content-border{
	padding: 25px;
    border: 1px solid #f2f2f2;
}
.content-border:not(:last-child){
	margin-bottom: 50px;
}
.viewed{
	border-bottom: 1px solid #dcdcdc;
}
.content-line .slick-list,
.viewed .slick-list{
	min-height: 150px;
}
.nav.nav-tabs .slick-list{
	min-height: auto;
}
.viewed-item{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	height: 100%;
    padding: 22px 10px;   
    border-radius: 5px;
    background-color: #fff;
	position: relative;
}
.content-line .viewed-item{
	border: 1px solid #F2F2F2;
}
.viewed-item:hover{
	-webkit-box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
}
.viewed-item .thumb.
.viewed-item .data{
	-ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.viewed-item .thumb{
	flex: 0 0 38%;
}
.viewed-item .thumb img{
	margin: 6px auto;
}
.viewed-item .data{
	position: relative;
	padding: 5px 0 0 10px;
}
.viewed-item .data .title{
	height: 40px;
	overflow: hidden;
	margin-bottom: 5px;
}
.viewed-item .data .title a{
    line-height: 18px;
    color: #2d2d2d;
}
.viewed-item .data .title a:hover{
    color: #c1471d
}
.viewed-item .data .price{
	font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    white-space: nowrap;
	margin-bottom: 5px;
}
.viewed-item .data .price span.special {
    color: #ff0000;
}
.viewed-item .data .price span.old {
    color: #777e89;
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    margin-left: 10px;
    text-decoration: line-through;
}
.viewed-item .data .price .no-price{
	font-weight: normal;
	color: #777e89;
}
.viewed-item .section button {
    color: #777e89;
    background: rgba(255,255,255,0.7);
    border: none;
    margin-bottom: 5px;
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 3px;
}
.viewed-item .section button.active,
.viewed-item .section button:hover {
    color: #fff;
    background: #c1471d;
}
.products.slick-slider .slick-list{padding-bottom: 15px;}
footer{
	background-color: #f8f9fb;
	padding: 50px 0 0 0;
}
footer .informations .title{
	color: #c1471d;
	font-size: 15px;
	font-weight: 600;
	padding-bottom: 25px;
}
footer .informations .title i{
	font-size: 9px;
    float: right;
    padding: 4px 0 4px 20px;
	display: none;
}
footer .informations .title i.pr2.down.active:before {
    content: '\0044';
}
footer .informations ul{
	padding: 0;
	margin: 0;
}
footer .informations ul li{
	list-style: none;
	display: block;
}
footer .informations ul li a{
	color: #777e89;
	line-height: 1.5;
	padding: 4px 0;
	display: inline-block;
}
footer .informations ul li a:hover{
	color: #c1471d;
}
footer .bottom-line{
	padding: 60px 0 30px 0;
}
footer .bottom-line .powered{
	font-size: 13px;
    color: #2d2d2d;
}
@media (max-width: 699px){
	footer .informations .title i{display: block}
	footer .informations ul{display: none; padding-bottom: 25px;}
}
footer .contacts .item a,
footer .contacts .item{
	color: #2d2d2d;
}
footer .contacts .item a:hover{
	color: #c1471d;
}
footer .contacts .item span,
footer .contacts .item a{
	padding-left: 25px;
	position: relative;
	display: inline-block;
}
footer .contacts .item span:before,
footer .contacts .item a:before{
	font-size: 17px;
    position: absolute;
    left: 0;
    top: 2px;
}
footer .contacts .email:before{
	content: '\0055';
}
footer .contacts .address:before{
	content: '\0067';
}
footer .contacts .item:not(:last-child){
	margin-bottom: 20px;
}
footer .telephone{
	text-align: right;
}
footer .telephone button{
	margin-top: 23px;
}
footer .telephone a{
	color: #2d2d2d;
	font-size: 16px;
	font-weight: 600;
}
footer .telephone a:hover{
	color: #c1471d;
}
footer .telephone i{
    font-size: 17px;
    margin-right: 5px;
    margin-bottom: -2px;
}
footer .payments{
	padding-top: 30px;
	text-align: right;
}
footer .payments .payment{
	display: inline-block;
	width: 50px;
    height: 30px;
	margin: 0 10px;
    background-size: auto;
    background-repeat: no-repeat;
}
footer .payments .payment:last-child,
footer .payments .payment:first-child{
	margin: 0 0;
}
footer .payments .payment.sberbank{
	background-image: url(/image/icons-payment.png);
	background-position: center -210px;
}
footer .payments .payment.visa{
	background-image: url(/image/icons-payment.png);
	background-position: center -300px;
}
footer .payments .payment.mastercard{
	background-image: url(/image/icons-payment.png);
	background-position: center -330px;
}
@media (max-width: 1023px){
	footer .items{
		display: none;
	}
}
@media (max-width: 700px){
	footer .telephone button{
		display: block;
		margin: 23px 0 auto auto;
	}
}
@media (max-width: 699px){
	footer .items{
		display: block;
		margin-top: 25px;
		text-align: center;
	}
	footer .telephone {
		text-align: center;
		margin-top: 25px;
	}
	footer .telephone button{
		margin: 23px auto auto;
	}
	footer .bottom-line .powered,
	footer .payments{
		text-align: center;
	}
}
/**/

.top-search{
	max-height: 135px;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.top-search li{
	margin-bottom: 10px;
}
.top-search li a{
	background-color: #eceef2;
    padding: 3px 7px;
    border-radius: 3px;
    color: #3a3c40;
    display: block;
    font-size: 13px;
    align-items: center;
    font-weight: normal;
    margin: 0 5px;
    min-height: 100%;
    text-decoration: none;
}
.top-search li a:hover {
    text-decoration: underline;
}
#go-up{
	position: fixed;
	right: 5px;
	bottom: 5px;
	z-index: 998;
	width: 60px;
	height: 60px;
	background-color: #c1471d;
	color: #fff;
	display: flex;
	border-radius: 100%;
	opacity: 0.6;
	cursor: pointer;
}
#go-up:hover{
	opacity: 1;
}
#go-up i{
	font-size: 18px;
	display: block;
	margin: auto;	
}
#column-left .ocf-container:not(:first-child){
	margin-top: 30px;
}
#content.col-sm-9 .container{
	width: auto;
}

.fixright {
	position: fixed;
	right: 0;
	z-index: 50;
	top: 50%;
	transform: translatey(-50%);
	height: 200px;
}
.fixright-text {
	padding: 10px 15px;
	color: #FFFFFF;
	font-size: 16px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	cursor: pointer;
	transition: background-color 350ms ease-in;
	position: absolute;
	top: 0;
	transform: rotate(-90deg);
	right: 100%;
	background-color: #C1471D;
	white-space: nowrap;
	display: block;
	transform-origin: 100% 100%;
	margin-top: -40px;
}
.fixright:hover > .fixright-text {
	background-color: #CD613C;
}
span[style^=""]{
	font-family: 'Rubik', sans-serif;
}
p[style^=""]{
	font-family: 'Rubik', sans-serif;
}
div[style^=""]{
	font-family: 'Rubik', sans-serif;
}
span[style]{
	font-family: 'Rubik', sans-serif;
}
p[style]{
	font-family: 'Rubik', sans-serif;
}
div[style]{
	font-family: 'Rubik', sans-serif;
}
.product-data{
	width: 100%;
}

button.get-form{
	/* background: #c1471d; */
}

button.get-form-new {
	width: 143px;		
	height: 50px;
	background: #c1471d;
	color: #fff;
	font-size: 15px;
	text-align: center;
	border: 0px;
	text-align: center;
}

div.cart {
	text-align: center;
}
/* расширение позиции между кнопками представления вида */

#list-view {
	padding: 5px;
	width: 40px;
	height: 40px;
}

#grid-view {
	padding: 5px;
	width: 40px;
	height: 40px;
}

/* стили кнопки заказать звонок из меню */

form {
    margin: 0;
}
input[type="text"], input[type="number"], input[type="tel"], input[type="password"], input[type="email"], textarea {
    font-family: inherit;
    width: 96%; 
}
input[type="text"], input[type="submit"], input[type="email"], input[type="tel"], button, select, textarea {
    -webkit-appearance: none;
}
* {
    outline: none!important;
    box-sizing: border-box;
}
.exception {
    position: relative;
}
.exception .trigger-btn {
    background-color: #fff;
    padding: 14px 26px;
    line-height: 120%;
    border: 2px solid #fff;
    font-weight: 700;
}
.btn {
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin: 0;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-transform: uppercase;
    height: 48px;
 }
 .exception form {
    position: absolute;
    top: -10px;
    left: -8px;
    padding: 0 8px;
    border-radius: 5px;
    right: -8px;
    background: #c1471d;
    z-index: 990;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .3s all;
}


.exception form input {
    border: none;
    box-shadow: none;
    margin-bottom: 2px;
    padding: 12px 17px;
    font-size: 15px;
    border-radius: 4px;
	margin-top: 5px;
}
.xs_result {
    color: #fff;
	text-align: center;
	font-size: 20px;
}
.exception form input.btn {
    padding: 14px 10px;
    width: 100%;
    line-height: 120%;
    font-weight: 700;
    font-size: 12px;
    background: #f64a4a;
    border: 0;
    color: #fff;
}
.exception.active form {
    opacity: 1;
    height: 200px;
	margin-top: 7px;
}

/* липкий фильтр*/
div#ocf-module-1 {
/*	position: sticky;
	top:190px;
*/	
}
#column-left {
	z-index: 50;
}

/* button смена вида отображения товара */
.pr.view-list:before {
	font-size: 20px;
}

.pr.view-tile:before {
	font-size: 20px;
}

.menu-box {
	display: none;
}

.ocf-filter-name {
	max-width: 230px;
}
/*производители левая колонка с меню*/
.list-group {
	/*display: none;*/
}
/* вторая кнопка офрмить заказ в корзине */
#tmdbuttonorder {
	display: none;
}
/* скрываю поля Данных клиентах для формы оформить заказ */
.content-cart {
	/*display: none;
*/}
.title {
	/*display: none;*/
}

#account {
	display: none;	
}

#cart_totals {
	font-weight: bold;
}

.whatsapp {
	height: 29px;
	margin-bottom: -12px;
}

.telega {
	height: 30px;
	margin-bottom: -12px;
}


.chats {
	margin-top: 30px;
}

a {
	color: black;
}

.telega_contact {
	margin-top: 30px;
}

/* в карточке товара в описани */
div .group {
	display: none;
}

.need-call {
	padding-top: 35px;
    padding-bottom: 20px;
}

.get-form-call {
	border: none;
	background-color: white;
	font-size: 14px;
}

.get-form {
	border: none;
	background-color: white;
	font-size: 14px;	
}

.header-menu .hidden-xs {
	height: 56px;
}

.exception {
	height: 48px;	
}


@media (max-width: 340px){
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
	width: 40%;
	max-width: 40%;
}
}



.registration {
	font-size: 20px;
}


/* POPUP choose city */
/*form popup*/
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
	font-size: 13px;
}
.control-label {
    font-weight: normal;
    color: #6e6e6e;
}
.form-city-control {
    display: block;
	width: 100%;
	border-radius: 3px;
    padding: 9px 10px;
    border: 1px solid #efefef;
    background-color: #f6f6f6;
    color: #5f5f5f;
    text-align: left;
    -webkit-transition-property: color,border-color,background-color;
    -moz-transition-property: color,border-color,background-color;
    -ms-transition-property: color,border-color,background-color;
    -o-transition-property: color,border-color,background-color;
    transition-property: color,border-color,background-color;
    -webkit-transition-duration: 350ms;
    -moz-transition-duration: 350ms;
    -ms-transition-duration: 350ms;
    -o-transition-duration: 350ms;
    transition-duration: 350ms;
}
.form-city-control.code{
	width: 80%;
    letter-spacing: 16px;
	display: inline-block;
}
.form-city-control.err{
	border-color: #ea4b4b;
}
.form-city-control.good{
	border-color: #1db940;
}
.timer{
	display: inline-block;
    width: 13%;
    text-align: center;
    color: #777e89;
}
.restore{
	display: inline-block;
    width: 4%;
    text-align: right;
    cursor: pointer;
}
.restore:hover{
	color: #c1471d;
}
textarea.form-city-control{
	height: 115px;
	resize: none;
}
.form-city-group.auto{
	position: relative;
	z-index: 100;
}
.form-city-group .auto-inputs{
	display: none;
}
.form-city-group.auto .auto-inputs{
	display: block;
	position: absolute;
    padding: 11px;
    border: 1px solid #dcdcdc;
    -webkit-box-shadow: 0 0 24px 0 rgb(27 30 37 / 8%);
    -moz-box-shadow: 0 0 24px 0 rgba(27, 30, 37, 0.08);
    box-shadow: 0 0 24px 0 rgb(27 30 37 / 8%);
    left: 5px;
    right: 5px;
	top: 100%;
	font-size: 13px;
    background-color: #fff;
}
.form-city-group .auto-inputs div{
	cursor: pointer;
}
.form-city-group .auto-inputs div:not(:last-child){
	margin-bottom: 10px;
}
.form-city-group.required .control-label:after{
	content: '*';
    color: #ea4b4b;
    font-weight: 400;
    font-style: normal;
	position: relative;
    top: 0px;
    right: -3px;
}
.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px
}
.help-block{
	font-size: 12px;
    margin-bottom: 15px;
}
.help-block .text-danger{
	font-weight: 600;
}
.product-group,
.form-group {
    margin-bottom: 15px;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0)
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0)
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0)
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0)
    }
}
.fixed{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1040;
	background-color: rgba(0,0,0,0.3);
}
.fixed .close-form{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}
.fixed .close{
	position: absolute;
    top: 16px;
    right: 15px;
}
.fixed .close svg{
	fill: #fff;
}
.fixed .cell-city{
	position: relative;
	z-index: 2;
	background-color: #fff;
	padding: 0 30px 30px 30px;
	border-radius: 3px;
	width: 900px;
	max-width: 98%;
    margin: auto;
	overflow: hidden;
}
.fixed .cell-city.img{
	max-height: 90%;
	width: auto;
}
.fixed iframe{
	position: relative;
	z-index: 2;
	background-color: #fff;
	margin: auto;
	width: 85%;
	height: 85%;
	border: none;
}
.fixed .panel{
	position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 13px;
    padding: 11px 15px;
}
.fixed .buttons-top{
	position: absolute;
    right: 15px;
    top: 10px;
}
.fixed .buttons-top i{
	cursor: pointer;
	display: inline-block;
}
.fixed .buttons-top i:not(:last-child){
	margin-right: 15px;
}
.fixed .title-bottom{
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
	background: rgba(0,0,0,0.6);
	padding: 11px 15px;
	z-index: 10;
}
.fixed .arrow{
	position: absolute;
    z-index: 10;
    top: 50%;
    border: none;
    background-color: #fff;
    padding: 0;
    line-height: 35px;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    text-align: center;
}
.fixed .arrow.next{
	right: 15px;
}
.fixed .arrow.prev{
	left: 15px;
}
.fixed .arrow:hover{
	background-color: #c1471d;
	color: #fff;
}
.fixed .form-city .title{
	font-size: 20px;
    background-color: #c1471d;
    color: #fff;
    font-weight: 500;
    margin: 0 -30px 20px;
    padding: 20px 30px 20px 20px;
}
.fixed .form-city .title .sub{
	font-size: 16px;
}
.form-city .control-label {
    font-size: 14px;
}
.form-city .error-text{
	margin-bottom: 20px;
    color: #ea4b4b;
    font-size: 13px;
}
.form-city .text-agree{
	font-size: 12px;
	margin-bottom: 15px;
}
.form-city .buttons button{
	display: block;
	margin: 0 0 0 auto;
}
.fixed .form-city .scroll{
	overflow-y: auto;
	overflow-x: hidden;
}
.fixed .form-city .product{
	font-weight: 600;
}
.fixed .form-city .product img{
	vertical-align: middle;
    padding-right: 20px;
}
.fixed .form-city .product .name{
	display: inline-block;
	vertical-align: middle;
}
.fixed .form-city .product .name span{
	color: #777e89;
	font-size: 12px;
	font-weight: normal;
}
.fixed .form-city .error,
.fixed .form-city .thanks{
	padding-left: 66px;
    position: relative;
	font-size: 13px;
}
.fixed .form-city .error:before,
.fixed .form-city .thanks:before{
    font-size: 47px;
    display: inline-block;    
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 0;
    top:5px;   
}
.fixed .form-city .thanks:before{	 
	content: '\004a';
	font-family: 'icons_2';
	color: #c1471d;
}
.fixed .form-city .error:before{
	content: '\0075';
	font-family: 'icons_1';
	color: #ea4b4b;
}





.fixed{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1040;
	background-color: rgba(0,0,0,0.3);
}
.fixed .close-form{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}
.fixed .close{
	position: absolute;
    top: 16px;
    right: 15px;
}
.fixed .close svg{
	fill: #fff;
}
.fixed .cell-city{
	position: relative;
	z-index: 2;
	background-color: #fff;
	padding: 0 30px 30px 30px;
	border-radius: 3px;
	width: 900px;
	max-width: 98%;
    margin: auto;
	overflow: hidden;
}


.big-cities-bubble-list {
	display: flex;
    justify-content: space-between;
    margin: 20px 16px;
}

.city-bubble{
	background-color: #f7f7f7;
    border: none;
    border-radius: 100px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-right: 8px;
    padding: 9px 12px;
}


.cities {
	max-height: 30vh;
	overflow: auto;
	display: inline-block;
}
.cities li {
	list-style: none;
	padding: .7em 1.5em;
	margin: 0;
}


.span-city:before {
	content: '\0067';
	font-family: 'icons_1';
	padding-right: 7px;
}

.span-city {
	text-decoration: underline;
}

/* END POPUP choose city */
